// Weight and italics

.font-weight-thin { font-weight: $font-weight-thin !important; }
.font-weight-medium { font-weight: $font-weight-medium !important; }
.font-weight-semibold { font-weight: $font-weight-semibold !important; }
.font-weight-heavy { font-weight: $font-weight-heavy !important; }