.conditions-treatments {
    .list-container {
        @extend .mt-8;
        @extend .mt-xs-10;

        .list {
            @extend .list-unstyled;
            margin: 0 auto;

            li {

                a {
                    @extend .btn;
                    @extend .btn-outline-primary;
                    background-color: $body-bg;
                }
            }
        }

        &.list-container-columns {
          .list {
            text-align: left;
    
            @media (min-width: 640px) {
              //max-width: 530px;
              column-width: 235px;
              column-gap: 60px;
              column-rule: 1px solid rgba(0,0,0,0.1);
              column-fill: balance;
            }
    
            @include media-breakpoint-up(md) {
                //max-width: 825px;
            }
    
            @include media-breakpoint-up(lg) {
                //max-width: 1120px;
            }
    
            @media (min-width: 1800px) {
                //max-width: 1710px;
            }
    
            @media (min-width: 3540px) {
                //max-width: 3450px;
            }

            li {
                @extend .mt-4;

                &:first-child {
                    @extend .mt-0;
                }

                a {
                    text-align: left;
                }
            }
          }
        }

        &.list-container-rows {
            .list {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                @extend .m-n2;

                li {
                    @extend .m-2;
                }
            }
        }
    }
}