a[href^="tel:"],
a[href^="tel:"]:link,
a[href^="tel:"]:visited,
a[href^="tel:"]:hover,
a[href^="tel:"]:focus,
a[href^="tel:"]:active {
    @include media-breakpoint-up(sm) {
        cursor: default;
        color: inherit;
        text-decoration: none;
    }
}